.row_daily_weather {
  border-style: solid;
  border-color: black;
  border-top-width: 3px;
  border-bottom-width: 0px;

  width: 350px;
  height: 100px;

  margin: 0px;
}

.row_daily_weather:hover {
  background-color: lightgrey;
}

.col_daily_weather {
  display: flex;
  justify-content: center;
}