.row_daily_weather {

  width: 350px;
  height: 100px;

  margin: 0px;
}

.row_daily_weather:hover {
  background-color: lightgrey;
}

.col_daily_weather {
  display: flex;
  justify-content: center;
}

.scroll-container {
  height: 100vh;               /* Volledige schermhoogte */
  overflow-y: auto;            /* Scrollen als nodig */
  width: 360px;
}
